---
import Layout from "../layouts/Layout.astro";
import Signin from "../components/Signin.vue";
---

<Layout title="Sign In">
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <Signin title="Sign In" client:load />
  </main>
</Layout>
